<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login | Calculadora Uchoas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/signin.css") }}">
</head>

  <body class="text-center">
    <form class="form-signin" action="/login" method="POST">
      <img class="mb-4" src="{{ url_for('static', filename="img/logo.png") }}" alt="" width="350">
  <label for="inputEmail" class="sr-only">E-mail</label>
  <input type="text" id="inputEmail" class="form-control" name = "email" placeholder="E-mail" required autofocus>
  <label for="inputPassword" class="sr-only">Senha</label>
  <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  <a class="btn btn-lg btn-dark btn-block" href="{{ url_for('sessao.cadastro') }}">Cadastrar usuário</a>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>
</html>