<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Calculadora Uchoas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
</head>

<body>
    <!-- INÍCIO NAVBAR-->
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index.html">Calculadora Uchoas</a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/index">Início</a></li>
              <li><a href="/historico">Histórico</a></li>
              <li><a href="/login">Sair</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
{% endblock %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Operação</th>
      <th scope="col">Operandos</th>
      <th scope="col">Horário</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">joao</th>
      <td>Soma</td>
      <td>26 e 10</td>
      <td>11:20</td>
    </tr>
    <tr>
      <th scope="row">joao</th>
      <td>Subtração</td>
      <td>10 e 90</td>
      <td>10:10</td>
    </tr>
    <tr>
      <th scope="row">joao</th>
      <td>Soma</td>
      <td>25 e 11</td>
      <td>08:30</td>
    </tr>
  </tbody>
</table>


{% block scripts %}
    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
{% endblock %}
</body>

</html>
