<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Calculadora Uchoas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
</head>

<body>
    <!-- INÍCIO NAVBAR-->
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index.html">Calculadora Uchoas</a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/index">Início</a></li>
              <li><a href="/historico">Histórico</a></li>
              <li><a href="/login">Sair</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
{% endblock %}

      <!-- INÍCIO CALCULADORA-->
      <div class="container" id="calculadora">
        <div class="row">
            <div class="texto-principal">
                Para efetuar o cálculo, basta inserir os dois operandos, escolher a operação e submeter com o botão <b>calcular</b>.
            </div>
        </div>
    </div>
            <!-- Início parte que calcula de verdade-->

            <!-- Final parte que calcula de verdade-->
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <input type="number" placeholder="Operando A"></input>
                <select name="operacoes">
                    <option value="soma">Soma</option>
                    <option value="subracao">Subtração</option>  
                    <option value="multiplicacao">Multiplicação</option>
                    <option value="divisao">Divisão</option>
                    <option value="potenciacao">Potenciação</option>
                    <option value="radiciacao">Radiciação</option>
                </select>
                <input type="number" placeholder="Operando B"></input>
                <input type="submit">
                <p>Resultado: 0</p>
            </div>
            </div>
        </div>
    </div>
</div>

      <!-- FINAL CALCULADORA-->


{% block scripts %}
    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
{% endblock %}
</body>

</html>